root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 130
trim_trailing_whitespace = true

[*.{yml,yaml}]
# This format uses significant whitespace - redefine settings to make sure changes in root do not affect it.
indent_size = 2
indent_style = space

[*.md]
# Sync with pre-commit hooks
max_line_length = 120

# eof
