# git-cliff ~ configuration file
# https://github.com/orhun/git-cliff
# https://git-cliff.org/docs/configuration

[changelog]
# A Tera template to be rendered for each release in the changelog.
# See https://keats.github.io/tera/docs/#introduction
body = """
{% if version %}\
    ## [{{ version }}] - {{ timestamp | date(format="%Y-%m-%d") }}
{% else %}\
    ## [unreleased]
{% endif %}\
{% for group, commits in commits | group_by(attribute="group") %}
    ### {{ group | striptags | trim | upper_first }}
    {% for commit in commits %}
        * {% if commit.scope %}*({{ commit.scope }})* {% endif %}\
            {% if commit.breaking %}[**breaking**] {% endif %}\
            {{ commit.message | upper_first | split(pat='\n') | first }}\
    {% endfor %}
{% endfor %}
"""
# Remove leading and trailing whitespaces from the changelog's body.
trim = true
# Render body even when there are no releases to process.
render_always = true
# An array of regex based postprocessors to modify the changelog.
postprocessors = [
  # Replace the placeholder <REPO> with a URL.
  { pattern = '<REPO>', replace = "https://github.com/tguzik/valueclasses" },
]
# Default output file path
#output = "CHANGELOG.md"

[git]
# Parse commits according to the conventional commits specification.
# See https://www.conventionalcommits.org
conventional_commits = true
# Exclude commits that do not match the conventional commits specification.
filter_unconventional = false
# Require all commits to be conventional.
# Takes precedence over filter_unconventional.
require_conventional = false
# Split commits on newlines, treating each line as an individual commit.
split_commits = false
# An array of regex based parsers to modify commit messages prior to further processing.
commit_preprocessors = [
  # Replace issue numbers with link templates to be updated in `changelog.postprocessors`.
  { pattern = '\((\w+\s)?#([0-9]+)\)', replace = "([#${2}](<REPO>/issues/${2}))" },
]
# Prevent commits that are breaking from being excluded by commit parsers.
protect_breaking_commits = true
# An array of regex-based parsers that assign commits to a group.
# Optionally sets the commit's scope and can decide to exclude commits from further processing.
# The regex is applied over the whole message.

# The entries here are processed in order and the first matched regex (the `message` prop) will assign the commit to a group. The
# groups in the output appear in the ascending lexical order of the group names, not the order of these entries. The HTML comment
# in the name of the group still participates in sorting but is omitted from the output - we're using it to manually set the
# order.
# Additional examples: https://git-cliff.org/docs/configuration/git#commit_parsers
commit_parsers = [
  { message = "^feat", group = "<!-- 01 -->Features:" },
  { message = "^fix", group = "<!-- 02 -->Bug Fixes:" },
  { message = "^doc", group = "<!-- 03 -->Documentation:" },
  { message = "^perf", group = "<!-- 04 -->Performance:" },
  { message = "^refactor", group = "<!-- 05 -->Refactor:" },
  { message = "^style", group = "<!-- 06 -->Code Styling:" },
  { message = "^test", group = "<!-- 07 -->Testing:" },
  { message = "^deps|^build\\(deps(-dev)?\\)", group = "<!-- 08 -->Dependencies:" },
  { message = "^build|^ci|^chore", group = "<!-- 09 -->Maintenance:" },
  { message = "^revert", group = "<!-- 10 -->Revert:" },
  # { message = "^chore\\(pull\\)", skip = true },
  { message = ".*", group = "<!-- 11 -->Other:" },
]
# Exclude commits that are not matched by any commit parser.
filter_commits = false
# An array of link parsers for extracting external references, and turning them into URLs, using regex.
link_parsers = []
# Include only the tags that belong to the current branch.
use_branch_tags = false
# Order releases topologically instead of chronologically.
topo_order = false
# Order releases topologically instead of chronologically.
topo_order_commits = true
# Order of commits in each group/release within the changelog.
# Allowed values: newest, oldest
sort_commits = "newest"
# Process submodules commits
recurse_submodules = false

# eof
